//TODO: Add webpack src @ symbol on import

.slt-ui__hero {
  @include col(12);

  background-color: $gray-1;
  min-height: 550px;
  position: relative;

  &-img {
    width: 100%;
    object-fit: cover;
    height: 550px;
  }

  &-content {
    @include col(4);

    width: auto;
    padding: 30px;

    @media only screen and (min-width: 769px) {
      position: absolute;
      bottom: 50px;
      padding-left: $col-width;
    }
  }

  &-header {
    @extend .font-sz-header1;

    color: $gray-2;
  }

  &-copy {
    @extend .font-sz-copy1;

    color: black;
    margin-top: 20px;
  }

  &-cta {
    @extend .cta;

    margin-top: 20px;
  }
}